.quizcard--container {
  margin: 0;
}

.quizcard--question {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--secondary-accent-color);
}

.quizcard--answer {
  padding-inline: 1.6rem;
  margin-right: 1.2rem;
  margin-block: 0.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  border-radius: 8px;
  outline: 1px solid var(--secondary-accent-color);
}

.quizcard--divider {
  border: 1px solid #dbdef0;
  height: 1px;
}
