/* Custom variables */
:root {
  --main-neutral-color: #f5f7fb;
  --main-primary-color: #36406e;
  --secondary-accent-color: #1d2346;
  --answer-correct-color: #94d7a2;
  --answer-incorrect-color: #f8bcbc;
}

/* General styling */
html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--main-color);
  font-family: "Karla", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.quiz--container {
  max-width: 55rem;
  padding: 4rem 7.5rem;
  box-shadow: 0 0 1rem 0.5rem hsla(0, 0%, 0%, 0.2);
}

.quiz--score-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.quiz--score {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--secondary-accent-color);
}

.button {
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--main-primary-color);
  color: var(--main-neutral-color);
  border-radius: 10px;
  padding: 0.6rem 2.5rem;
}

.button[data-type="inverted"] {
  cursor: default;
  background-color: var(--main-neutral-color);
  color: var(--main-primary-color);
  outline: 1px solid var(--main-primary-color);
}

.check-answers-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
