/* Custom variables */
:root {
  --main-neutral-color: #f5f7fb;
  --main-primary-color: #36406e;
  --secondary-accent-color: #1d2346;
  --answer-correct-color: #94d7a2;
  --answer-incorrect-color: #f8bcbc;
}

/* RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General styling */
html {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--main-color);
  font-family: "Karla", sans-serif;
}

button {
  cursor: pointer;
  border: none;
}

.quiz--container {
  width: 55rem;
  padding: 4rem 7.5rem;
}

.quiz--score-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.quiz--score {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--secondary-accent-color);
}

.button {
  font-weight: 500;
  font-size: 1rem;
  background-color: var(--main-primary-color);
  color: var(--main-neutral-color);
  border-radius: 10px;
  padding: 0.6rem 2.5rem;
}

.button[data-type="inverted"] {
  background-color: var(--main-neutral-color);
  color: var(--main-primary-color);
  outline: 1px solid var(--main-primary-color);
}
